.flower-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.flower {
  position: relative;
  width: 150px;
  height: 150px;
}

.petal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.petal-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--color-primary);
  mix-blend-mode: screen;
  opacity: 0.6;
  transform: translateY(0) scale(0.5);
  transition: transform 0.3s ease;
}

.flower.active.inhale .petal-circle {
  transform: translateY(-30px) scale(1);
  transition-duration: var(--inhale-duration);
  transition-timing-function: ease-in;
}

.flower.active.holdIn .petal-circle {
  transform: translateY(-30px) scale(1);
  transition-duration: 0.1s;
}

.flower.active.exhale .petal-circle {
  transform: translateY(0) scale(0.5);
  transition-duration: var(--exhale-duration);
  transition-timing-function: ease-out;
}

.flower.active.holdOut .petal-circle {
  transform: translateY(0) scale(0.5);
  transition-duration: 0.1s;
}

.petal:nth-child(odd) .petal-circle {
  background: #61bea2;
}

.petal:nth-child(even) .petal-circle {
  background: #529ca0;
}
